<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BingEm</title>
    <meta name="robots" content="index,follow">
    <link rel="canonical" href="https://bingem.taranitup.club/" />
    <meta name="author" content="Taran Pierce">
    <meta name="description" content="Bing?">
    <meta name="keywords" content="Bing?">
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/base.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Seriously though, why <%= title %>?</p>
    <p>Because it turns out Microsoft will give you 5pts for every bing search you do and you can turn in those points for rewards.</p>
    <p>So now the question becomes, why not?</p>
  </body>
</html>
